.flex-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    background-color:rgb(65, 141, 173);
    height: 400px;
}

h1 {
    text-align: center;
    color:rgb(0, 136, 255);
}

.flex-container > div {
    background-color:black;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

#div1 {
    background-color:black;
    color:rgb(42, 108, 165);
    flex-basis: 200px;
    align-self: end;
}